<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rama.IndiaBuzzNews" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->

    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/indianews"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.rama.IndiaBuzzNews.MainActivity"
            android:label="@string/app_name" >

        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.example.rama.IndiaBuzzNews.secondActivity"
            android:label="News Papers" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.rama.IndiaBuzzNews.ThirdActivity"
            android:label="@string/title_activity_third" >
        </activity>
        <activity
            android:name="com.example.rama.IndiaBuzzNews.FourthActivity_Threading"
            android:label="@string/title_activity_fourth_activity__threading" >
        </activity>
        <activity
            android:name="com.example.rama.IndiaBuzzNews.RssNewsItem"
            android:label="@string/title_activity_rss_news_item" >
        </activity>
    </application>

</manifest>
